# ~/.aliases
#
# This file is loaded via .bash_profile
# Regularly used command line aliases can be set here
#
#

alias cl='clear'
alias ll='ls -lG'
alias lla='ls -lGa'
alias ..='cd ../'
alias ....='cd ../../'
alias ~='cd ~'
alias desktop='cd ~/Desktop'
alias hist='history | grep'

alias reload_bash='source ~/.bash_profile'
alias edit_bash='nano ~/.bash_profile'
alias edit_aliases='nano ~/.aliases'

alias mac.code='cd ~/Documents/mac.code'
alias vm.code='cd /Volumes/vm.code'
alias ssh-vm='ssh tristanashley@192.168.0.185'
alias ridge='cd ~/Documents/cartridge'

alias edit_hosts='sudo nano /etc/hosts'
alias reload_hosts='dscacheutil -flushcache'

#Git
alias ga="git add -A"
alias gb="git branch"
alias gc="git commit -m"
alias gd="git diff"
alias gl="git log --graph --name-status"
alias gm="git mv"
alias go="git checkout"
alias gp="git push"
alias gpb="git push -u origin"
alias gs="git status"
alias git_nuke="git clean -f -d && git reset HEAD --hard && git status"

