# ~/.functions
#
# This file is loaded via .bash_profile
# Regularly used command line functions can be set here
#
#

print_result() {
    [ $1 -eq 0 ] \
        && print_success "$2" \
        || print_error "$2"

    [ "$3" == "true" ] && [ $1 -ne 0 ] \
        && exit
}
